.categories {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 24%;
        height: 100%;
        background: linear-gradient(90deg,rgba($dark, .3), rgba($dark, 1) 72.73%);
        pointer-events: none;
    }
    &__list {
        display: flex;
        flex-wrap: nowrap;
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: 10px;
    }
    &__item {
        margin-right: 10px;
        margin-left: 10px;
    }
    &__link {
        display: flex;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
    }
    &__title {
        margin-left: 10px;
    }
}
